fastapi==0.110.0
uvicorn[standard]==0.29.0
python-dotenv
requests

torch

numpy<2
scikit-learn
faiss-cpu>=1.8.0

chromadb

sentence-transformers>=2.7.0
transformers>=4.40.0

spacy>=3.7.4
pymupdf>=1.24.0
python-multipart
python-docx
