fastapi==0.110.0
uvicorn[standard]==0.29.0
python-dotenv
requests
numpy<2
faiss-cpu>=1.7.3,<1.7.5
torch==2.1.2
sentence-transformers==2.6.1
spacy==3.7.2
pymupdf==1.23.26
python-multipart
python-docx
transformers==4.38.2
tokenizers==0.15.2
